body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

#quiz-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

h1{
    color: #333
}

button {
    padding: 10px 20 px;
    margin: 10px;
    font-size: 16 px;
    cursor: pointer;
}

#timer {
    margin-top: 20px;
    font-size: 18px;
}

#result-container{
    margin-top: 20px;
    font-size: 18px;
    color: red;
}